<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div><h2>Fence Project Estimator</h2></div>
        <div><h5>A simple project</h5></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide w-75" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/fence_slider1.jpg" class="d-block w-100 rounded sliderImg" alt="...">
              <div class="carousel-caption d-none d-md-block text-dark bg-white opacity-75 rounded">
                <h3>Premium Fence Construction</h3>
                <p>New Construction or Repairs.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/fence_slider2.jpg" class="d-block w-100 rounded sliderImg" alt="...">
              <div class="carousel-caption d-none d-md-block text-dark bg-white opacity-75 rounded">
                <h3>Enhance the Value of Your Property</h3>
                <p>We're experienced and licensed contractors ready to make your dreams a reality.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/fence_slider3.jpg" class="d-block w-100 rounded sliderImg" alt="...">
              <div class="carousel-caption d-none d-md-block text-dark bg-white opacity-75 rounded">
                <h3>Custom Fences Available</h3>
                <p>FenceCo provides leading services in your area. Our in-house experts will design and construct a fence you can enjoy for a lifetime.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center mt-3">
        <div class="btn btn-lg btn-primary block" routerLink="get-quote">Get Started Today!</div>
      </div>
    </div>
  </div>